/*Google font imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Raleway';
}

body{
    background-color: #C4B9AD;
}
.navbar{
    background: #552601; font-family: 'Roboto'; padding-right: 15px; padding-left: 15px; height: 60px; 
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between; position: relative; top: 15%;
}
.logo a{
    font-size: 35px; font-weight: 600; color: white;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: #C4B9AD; font-size: 18px; font-weight: bold; margin-right: 25px;
}

.bars{
    font-size: 10px; color: #C4B9AD; float: right; marign-right: 40px; line-height: 80px;
    cursor: pointer; display: none;
}

#check{
    display: none;
}

@media(max-width: 800px){
    .bars{
        display: block;
    }

    nav ul{
        position: fixed; 
        width: 100%;
        background-color: rgb(58, 58, 58, 0.692);
        text-align: center;
        top: 60px;
        left: -120%;
        transition: all 1s;
    }

    nav ul li{
        display: block;
        padding: 30px 0;
    }

    nav ul li a{
        font-size: 25px;
        color: #C4B9AD;
        text-transform: uppercase;
    }

    #check:checked ~ ul{
        left: 0;
    }

}

footer{
    background-color: #AE4600;
}

.footerContainer{
    width: 100%;
    padding-left: 70px 30px 20;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: #552601;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: #C4B9AD;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white; margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #552601;
    text-align: center;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.container{
    border: 3px solid lightgrey;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 12rem;
    height: 12rem;
    background-color: #3E270B;
    margin: 1rem;
    flex-basis: 10rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.container1{
    min-height: 100vh;
    width: 100%;
    background-color: #C4B9AD;
}

.service-wrapper{
    padding: 5% 8%;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    color: #111;
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: #552601;
    background: linear-gradient(8deg, rgba(70,43,9,1) 0%, rgba(224,133,15,0.74) 41%,rgba(158,90,2,1)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
}

h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
    animation: anim 5s linear infinite;
}

@keyframes anim{
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 88%;
    }
}

.cards{
    display: grip;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-top: 40px;
}
.card{
    height: 160px;
    width: 870px;
    background-color: #3E270B;
    padding: 3% 8%;
    border: 0.2px solid #C4B9AD;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card :after{
    content: "";
    position: absolute;
    top: 150%;
    left: -100px;
    width: 120%;
    transform: rotate(50deg);
    background-color: white;
    height: 9px;
    filter: blur(15px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover:after{
    width: 225%;
    top: -100%;
}

.card i{
    color: #AE4600;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.card h2{
    color: white;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1;
}

.card p{
    text-align: center;
    width: 100%;
    margin: 6px 0;
    color: white;
}

.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #AE4600;
}

.home{
    background-image: url(Images/Thori.JPG);
    height: 400px;
    position: relative;
}

.home p{
    color: white;
    text-align: center;position: relative;
    top: 50%;
}

p{
    color: #111;
}

#greyBackground{
    position: absolute;
    top: -5%;
    left: 0;
    height: 500px;
    width: 650px;
    background-color: #c1c1c1;
    border-radius: 50%;
    filter: blur(60px);
    z-index: -1;
    opacity: 0.1;
}

.container2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 12%;
    margin-top: 50px;
}

.service-wrapper2{
    display: flex; flex-direction: column;
    gap: 30px;
    width: 100%;
}

.service-wrapper2 .content{
    display: flex;
    gap: 10px;
    width: 100%;
}

.service-wrapper2 .content div{
    width: 100%;
}

.service-wrapper2 .content .title{
    font-size: 1.6rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #111 0%, #AE4600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;font-weight: 600;
}

.service-wrapper2 .content h3{
    font-size: 3.8rem;
    color: #111;
    line-height: 4.5rem;
    width: 100%;
}

.service-wrapper2 .content p{
    width: 90%;
    color: #111;
    margin: 10px 0;
}

.service_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.service_container .service2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service_container .service2 .service_Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px 0px;
    border-bottom: 0.2px solid rgba(70,43,9,1);
    transition: 1s;
    position: relative;
}
.service_container .service2 .service_Title img{
    width: 350px;
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(10deg);
    opacity: 0;
}

.image_show{
    opacity: 1 !important;
    filter: blur(5px);
    animation: showImg 0.6s forwards linear;
}

@keyframes showImg{
    100%{
        filter: blur(0px);
        transform: translate(-50%, -50%) rotate(9deg);
    }
}


.service_container .service2 .service_Title h2{
    font-size: 50px;
    letter-spacing: 0.6px;
    color: #111;
    font-weight: 500;
}

.service_container .service2 .service_Title i{
    font-size: 2.3rem;
    color: #111;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.continent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 12%;
    margin-top: 50px;
}

.wrap_up{
    display: flex;
    gap: 30px;
    width: 100%;
}

.wrap_up .stuff{
    display: flex;
    flex-direction: column;gap: 10px;width: 50%;
}

.wrap_up .stuff .heading{
    font-size: 1.6rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #AE4600 0%, #3E270B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
}